body{
    font-family: 'Otomanopee One', sans-serif;
}
.flexible{
    display: flex;
}
.btn{
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-right: 7px;
    color: magenta;
    background-image: linear-gradient(#24f0d6 ,#b3cde0);
}
section{
    margin-top: 40px;
}
.half-width{
    width: 50%;
}
.straight-fw-text{
    display: inline;
    font-size: 30px;
}
.colorful-word{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(255, 0, 221));
    padding: 10px;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: navy;
}
.introductory{
    margin-top: 100px;
    text-align: justify;
}
.middle-sec{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}
.My-Recipes{
    text-align: center;
}
.food-recipe{
width: 33.33%;
border: 20px 25px 20px 21px ;
border-color: whitesmoke;
border-style: solid;
padding: 4px;
box-shadow: 20px 25px 20px #ddd2c8;
margin-right: 40px;
border-radius: 40px;
text-align: center;
background-image: linear-gradient(white whitesmoke);
}
#recipe-photo{
border-radius: 25px;
}
.followers{
    width: 33.33%;
    text-align: center;
}
.audience-list{
    margin-left: 0px 40px ;
    background-image: linear-gradient(white whitesmoke);
    border-color: whitesmoke;
    border-style: solid;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 20px 25px 20px #ddd2c8;
    height: 200px;
    font-weight: bolder
}
footer{
    text-align-last: center;
    background-color: rgba(0, 0, 0, 0.733);
    color: whitesmoke;
    height: 200px;
}
#Network{
    color: wheat;
}